body{
    background-image: url('../../images/riverforrest.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/*All text related ss*/
h1 {
    text-align: center;
    text-decoration: underline;
}

ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

a.nav{
    font-size: 16px;
    color: rgb(15, 15, 247);
}

a.active{
    font-size: 16px;
    color: rgb(222, 30, 240);
}

a.active:hover{
    font-size: 18px;
    color: rgb(48, 204, 170);
}

a.nav:hover{
    font-size: 17px;
    color: rgb(48, 204, 170);
}

#dacc{
    font-size: 17px;
    color: rgb(4, 137, 245);
}

#lab{
    font-size: 25px;
    color: rgb(74, 192, 27);
}
/*All box related ss*/
.box{
    position: absolute;
    border-radius: 10px;
}

#box1 { 
    width : 92%; 
    height: 85%; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

#abme{
    opacity: 1;
    width: 45%;
    height: 100%;
    left: 15px;
}

fieldset{
    border: solid rgb(6, 119, 212) 3px;
    color: rgb(255, 155, 5);
    font-size: 18px;
}

#pics1{
    float: right;
    width: 45%;
    height: 100%;
    opacity: 1;
}
#container{
    z-index: -1;
    position: absolute;
    height: 85%;
    width: 92%;
    opacity: .9;
    background-color: gray;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}