body{
    background-image: url('../../images/riverforrest.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height: 100%; 
    overflow: hidden; 
}
/*All text related ss*/
h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 44pt;
}

ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

a.nav{
    font-size: 16px;
    color: rgb(15, 15, 247);
}

a.active{
    font-size: 16px;
    color: rgb(222, 30, 240);
}

a.active:hover{
    font-size: 18px;
    color: rgb(48, 204, 170);
}

a.nav:hover{
    font-size: 17px;
    color: rgb(48, 204, 170);
}

#dacc{
    font-size: 17px;
    color: rgb(4, 137, 245);
}

#lab{
    font-size: 25px;
    color: rgb(74, 192, 27);
}
/*All box related ss*/
.box{
    position: absolute;
    border-radius: 10px;
}

#box1 { 
    width : 92%; 
    height: 85%; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

#abme{
    width: 45%;
    height: 100%;
    left: 15px;
}

#abmehead{
    font-size: 20pt;
    color: rgb(0, 0, 0);
    text-decoration: solid rgb(6, 119, 212) underline 3px;
    font-weight: bold;
}

fieldset{
    border: solid rgb(6, 119, 212) 3px;
    color: rgb(255, 155, 5);
    font-size: 14pt;
}

#pics1{
    float: right;
    width: 45%;
    height: 100%;
    opacity: 1;
}
#container{
    z-index: -1;
    position: absolute;
    height: 85%;
    width: 92%;
    opacity: .9;
    background-color: gray;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
span.standout{
    color: rgb(255, 123, 0);
    font-size: 14pt;
    font-weight: bold;
}
#half1{
    width: 45%;
    height: 100%;
    position: relative;
    left: 25%;
}
#half2{
    width: 45%;
    height: 100%;
    position: relative;
    left: 25%;
}
dt.head{
    font-size: 34pt;
    font-weight: bold;
    text-decoration: underline;
}
dd.bodytxt{
    font-size: 18pt;
    color: rgb(255, 155, 5);
}
td.txtbox{
    width: 1000px;
}
table.table1{
    width: 90%;
    position: absolute;
    left: 25%; 
}
span.header{
    text-decoration: underline;
    font-size: 36pt;
    font-weight: bold;
}
ul.txt{
    color: rgb(255, 155, 5);
    font-size: 24pt;
}
#me{
    color: rgb(255, 155, 5);
    font-size: 14pt;
}
li.hobtxt{
    list-style: none;
    font-size: 20pt;
}
table.table2{
    position: absolute;
    left: 12.5%;
    margin-left: auto;
}